* {
  box-sizing: border-box;
}

.columnLayout {
  display: flex;
  flex-direction: column;
}

.outputPage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.left,
.right {
  width: 50%;
  height: 100%;
}

.left {
  border-right: solid 1px #3c4f65;
}

.right {
  background-color: white;
  padding: 1em;
}

.calendar {
  padding: 1em;
  box-sizing: border-box;
  color: #3c4f65;
}

.top {
  border-bottom: solid 1px #3c4f65;
}

.top,
.bottom {
  height: 50%;
  padding: 1em;
}

.scrollableContent {
  text-align: left;
  overflow-y: auto;
  color: gray;
}

h1 {
  color: #3c4f65;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 2em;
}
